@use "sass:math";
@import "colors.scss";

// =====================
// Global distances etc.
// =====================

$space-base: 10px;
$space-small: math.div($space-base, 2);
$space-large: $space-base * 2;
$space-huge: $space-base * 3.5;

// =====
// Fonts
// =====

$font-small: 1rem;

* {
	font-family: Dejavu Sans, sans-serif;
	font-weight: 300;
}

b {
	font-weight: 500;
}

small,
.font-small {
	font-size: $font-small;
}

code {
	font-family: monospace;
}

h2 {
	margin-top: $space-base;
	margin-bottom: $space-base;
}

// ==============
// General things
// ==============

body {
	color: $color-gray-very-dark;
	margin: 0px;
	height: 100vh;
}

// ==========
// Alignments
// ==========

.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.flex-line {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

// ===========
// UI elements
// ===========

button {
	height: $space-huge;
	padding-left: $space-base;
	padding-right: $space-base;
	background-color: $color-very-light;
	border: 1px solid $color-light;
	font-size: $font-small;
}

button:hover {
	border: 1px solid $color-mid;
}

button::-moz-focus-inner { // remove dotted line in Firefox
	border: 0
}

button:disabled {
	background-color: $color-gray-very-light;
	border-color: $color-gray-light;
}

a {
	color: $color-very-dark;
}

a:hover {
	color: $color-dark;
}

// Use the SVG as down-arrow instead of the default
select {
	height: $space-huge;
	flex-grow: 1;
	padding: 5px;
	background-color: white;
	border: 1px solid $color-light;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('/assets/arrow-down.svg');
	background-size: $space-base * 1.5;
	background-position: calc(100% - 8px) $space-base;
	background-repeat: no-repeat;
	font-size: $font-small;
}


// For lists created by e.g. *ngFor
.list-item {
	height: $space-huge;
	line-height: $space-huge;
	border-left: 1px solid $color-light;
	border-right: 1px solid $color-light;
	border-top: 1px solid $color-light;
	padding-left: $space-base;
	padding-right: $space-base;
}

.list-item:last-child {
	border: 1px solid $color-light;
}

.list-item:hover {
	border: 1px solid $color-mid;
}

.list-item:hover + .list-item { // hide border for next list item
	border-top: none;
}

.list-item-selected {
	background-color: $color-very-light;
}


ul {
	list-style: none;
	padding-left: $space-huge;
	text-indent: -$space-large;
}

ul > li:before {
	content: "–";
	display: block;
	float: left;
	width: $space-large;
	color: $color-gray-mid;
}

li {
	margin-bottom: $space-small;
}

input,
textarea {
	// So when setting "width", the input/textarea outer size really matched the given width. Otherwise the inner width
	// would be set. When then using "width:100px" we would actually have a width of 122px
	// (100px + 2 * 10px padding + 2 * 1px border). The "border-box" value prevents this strange behavior.
	box-sizing: border-box;
	border: 1px solid $color-light;
	padding: $space-small;
	margin: 0;
	flex-grow: 1;
	min-width: 0;
	font-size: $font-small;
}

input {
	height: $space-huge;
}

input:focus,
textarea:focus {
	border: 1px solid $color-mid;
}

input.ng-invalid:not(form),
textarea.ng-invalid:not(form) {
	border: 1px solid $color-error;
}

.input-field-label {
	display: inline-block;
	min-width: 180px;
}

.hline {
	border-bottom: 1px solid $color-gray-light;
	margin-top: $space-large;
	margin-bottom: $space-large;
}

// ===========
// UI elements
// ===========

.color-error {
	color: $color-error-dark;
}

.color-gray {
	color: $color-gray-mid;
}

.wrap-label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
