@import "../../styles.scss";

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.root-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: $space-large;
	margin-bottom: $space-large;
}

.toolbar-left {
	display: flex;
	flex-direction: row;
}

.language-selection {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.language-selection-label {
	margin-right: $space-base;
}

.separator {
	margin-right: $space-large;
	margin-left: $space-large;
	border-left: solid 1px $color-gray-very-light;
}

.import-button {
	margin-left: $space-base;
}
