<div [class.host-in-test-mode]="isInTestMode" [class.host-in-prod-mode]="!isInTestMode">
	<div *ngIf="isInTestMode" class="test-label">
		<span>This is a <b>test instance</b> of the SimpleTaskManager.</span>
	</div>
	<router-outlet></router-outlet>
</div>
