<h1 i18n>Projects</h1>
<div *ngIf="projects?.length !== 0">
	<div *ngFor="let p of projects" class="list-item" (click)="onProjectListItemClicked(p.id)">
		<span class="wrap-label">{{p.name}}</span>
		<div class="list-item-column no-wrap">
			<span class="light-label">({{p.doneProcessPoints}} / {{p.totalProcessPoints}})</span>
			<app-progress-bar class="progress-bar" [progressPoints]="p.doneProcessPoints" [totalPoints]="p.totalProcessPoints"></app-progress-bar>
			<div class="admin-label">
				<span class="light-label" *ngIf="p.owner.uid === currentUserId">*</span>
			</div>
		</div>
	</div>
</div>

<div *ngIf="projects?.length === 0">
	<p class="light-label" i18n>You currently don't have any projects.</p>
</div>

<span *ngIf="projects?.length !== 0" class="light-label ownership-notice" i18n>* you own this project</span>
