@import "../../../styles";

:host {
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 10;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.notification-container {
	display: flex;
	flex-direction: column;
	margin-bottom: $space-large;
}

.info-container,
.error-container,
.warning-container,
.loading-container {
	display: flex;
	width: 600px;
	max-width: 600px;
}

.border:first-child {
	border-top: $color-light 1px solid;
}
.border {
	border-bottom: $color-light 1px solid;
	border-right: $color-light 1px solid;
	border-left: $color-light 1px solid;
}

.text-box {
	margin-right: $space-large;
}

.loading-container {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-container{
	background-color: $color-very-light-transparent;
}

.error-container{
	background-color: $color-error-very-light-transparent;
}

.warning-container{
	background-color: $color-warn-very-light-transparent;
}

.notification-text-container {
	display: flex;
	flex-grow: 1;
	padding: $space-small;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: $space-small;
}

.notification-text-wrapper {
	display: flex;
	flex-grow: 1;
	align-self: start;
	margin-top: auto;
	margin-bottom: auto;
}

.notification-text {
	flex-grow: 1;
	word-wrap: anywhere;
}

.error-text {
	color: $color-error-dark;
}

.warn-text {
	color: $color-warn-dark;
}

.remaining-notifications-label {
	margin-right: $space-base;
	white-space: nowrap;
	align-content: center;
}

@keyframes circle-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader {
	transform-origin: center center;
	border: 1px solid transparent;
	border-right-color: $color-dark;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	margin: $space-base;
	animation: circle-loader 1s infinite;
}
