<app-toolbar>
	<div>
		<button [routerLink]="['/dashboard']"><span class="lnr lnr-chevron-left cancel-button-icon"></span><span i18n>Cancel</span></button>
		<button class="save-button" (click)="onSaveButtonClicked()" [disabled]="!creationForm.form.valid || !hasTasks"
				i18n>
			Save
		</button>
	</div>
</app-toolbar>
<div class="root-container">
	<div class="project-properties-container">
		<form #creationForm="ngForm" class="root-form">
			<app-tabs #rootTabs [tabs]="rootTabTitles" [borderless]="true" class="root-tabs"
					  (tabSelected)="onTabSelected()">
				<!-- Properties -->
				<div *ngIf="rootTabs.tabIndex === 0">
					<h2 class="properties-label" i18n>Properties:</h2>
					<app-project-properties [projectProperties]="projectProperties"></app-project-properties>
				</div>

				<!-- Tasks -->
				<div *ngIf="rootTabs.tabIndex === 1" class="tab-container">
					<div class="task-head">
						<h2 class="properties-label" i18n>Tasks:</h2>
						<span class="font-small">{{taskDrafts.length}} / {{config.maxTasksPerProject}}</span>
					</div>
					<app-task-draft-list [tasks]="taskDrafts"
										 [selectedTask]="selectedTask"></app-task-draft-list>

					<div *ngIf="selectedTask">
						<h2 i18n>Properties:</h2>
						<app-task-edit [task]="selectedTask"></app-task-edit>

						<h2 i18n>Subdivide:</h2>
						<app-shape-divide [selectedTask]="selectedTask"
										  (previewClicked)="onDividePreviewClicked($event)"></app-shape-divide>
					</div>
				</div>

				<!-- Import -->
				<div *ngIf="rootTabs.tabIndex === 2">
					<div class="tab-container">
						<app-shape-upload></app-shape-upload>
						<div class="hline"></div>
						<app-project-import></app-project-import>
						<div class="hline"></div>
						<app-copy-project [projects]="(existingProjects | async)!"></app-copy-project>
					</div>
				</div>

				<!-- Remote -->
				<div *ngIf="rootTabs.tabIndex === 3">
					<div class="tab-container">
						<app-shape-remote></app-shape-remote>
					</div>
				</div>
			</app-tabs>
		</form>
	</div>
	<div class="map-container">
		<div class="drawing-toolbar">
			<app-drawing-toolbar
					[resetSelection]="resetToolbarSelectionSubject"
					(buttonDraw)="onToggleDraw()"
					(buttonEdit)="onToggleEdit()"
					(buttonDelete)="onToggleDelete()"
					[canAddTasks]="canAddTasks"
			></app-drawing-toolbar>
		</div>
		<app-map class="map" (moveEnd)="onMoveEnd($event)"></app-map>
	</div>
</div>
