@import '../../../styles';
@import '../../../icons';

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.root-container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	min-height: 0px; // important for scrolling (for whatever reason)
}

.root-tabs,
.root-form {
	height: 100%;
}

.cancel-button-icon {
	margin-right: $space-small;
}

.project-properties-container {
	padding-top: $space-base;
	min-width: 350px;
	max-width: 450px;
	width: 50%;
	border-right: 1px solid $color-light;
}

// Also apply style to divs in child components using ::ng-deep
.project-properties-container ::ng-deep .form-entry {
	margin-bottom: $space-base
}

.properties-label {
	margin-top: 0px;
}

.map-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.drawing-toolbar {
	position: absolute;
	z-index: 5; // Because of OpenLayers claiming some z-indices
	left: 0px;
	top: 0px;
	margin: $space-base;
	margin-top: 100px; // TODO move whole button menu into map
}

.zoom-control {
	margin-bottom: $space-base;
}

.map {
	height: 100%;
	width: 100%;
}

.save-button {
	margin-left: $space-base;
}

app-tabs {
	flex-grow: 1;
}

.tab-container {
	display: flex;
	flex-direction: column;
	min-height: 0px; // important for scrolling (for whatever reason, s. above)
	height: 100%; // To enable scrolling within the tab containers
}

.task-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}
