<div>
	<app-notification></app-notification>
	<div class="language-selection">
		<span class="language-selection-label" i18n>Language selection:</span>
		<app-language-selection></app-language-selection>
	</div>
</div>
<div>
	<div>
		<div class="center logo">
			<img src="./assets/icon.png">
		</div>
		<div class="center heading" i18n>
			Welcome to the SimpleTaskManager for <a href="https://openstreetmap.org" target="_blank">OpenStreetMap</a>
		</div>
		<div class="center login-button">
			<button (click)="onLoginButtonClick()" i18n>Login</button>
		</div>
		<div class="notice">
			<div class="notice-container">
				<div class="notice-bar"></div>
				<div class="notice-text" i18n="@@LOGIN_CHANGELOG">
					<p><b>Changes in 1.4.2:</b></p>
					Features:
					<ul>
						<li>Features in JOSM are loaded based on task geometry and not based on a bounding-box</li>
						<li>Layer names in JOSM are more descriptive</li>
						<li>Less annoying notifications</li>
					</ul>
					Bug fixes:
					<ul>
						<li>Task list when creating a second project was not empty</li>
					</ul>
					Internals:
					<ul>
						<li>Load flag if in test-mode from server</li>
						<li>Default deployment via pre-built images from Docker Hub</li>
						<li>New environment variable <code>STM_DB_HOST</code></li>
						<li>Renamed OAuth environment variables to have <code>STM_</code>-prefix</li>
						<li>Reference <code>.env</code> file in <code>stm-backup.service</code></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
